<div class="row">
  <div class="three columns">
    <label for="assetInput">Asset</label>
  </div>
  <div class="three columns">
    <label for="balanceInput">My Balance</label>
  </div>
  <div class="four columns">
    <label for="exchangeInput">Exchange</label>
    <select class="u-full-width" id="exchangeInput">
      <option *ngFor="let exchange of exchanges" [ngValue]="exchange">{{exchange.getDisplayName()}}</option>
    </select>
  </div>
  <div class="two columns">
    <label>Add new asset</label>
    <input class="button-primary" (click)="addAsset(formAsset)" type="Button" value="Submit">
  </div>
</div>