<div class="row">
  <div class="three columns">
    <label for="assetInput">Asset</label>
    <select [(ngModel)]="formAsset.name" class="u-full-width" id="assetInput">
      <option *ngFor="let coin of supportedCoins" [ngValue]="coin">{{coin}}</option>
    </select>
  </div>
  <div class="three columns">
    <label for="balanceInput">My Balance</label>
    <input [(ngModel)]="formAsset.mybalance" class="u-full-width" type="text" placeholder="0.0001" id="balanceInput">
  </div>
  <div class="four columns">
    <label for="exchangeInput">Exchange</label>
    <select [(ngModel)]="formAsset.exchange" class="u-full-width" id="exchangeInput">
      <option *ngFor="let exchange of supportedExchanges" [ngValue]="exchange">{{exchange.getDisplayName()}}</option>
    </select>
  </div>
  <div class="two columns">
    <label>Add new asset</label>
    <input class="button-primary" (click)="addAsset(formAsset)" type="Button" value="Submit">
  </div>
</div>
