<form #f="ngForm" (ngSubmit)="login(f)" ngNativeValidate>
  <div class="six columns offset-by-five text-center">
    <div class="row">
      <div class="six columns">
        <label for="username">Username</label>
        <input class="u-full-width" autofocus="autofocus" type="text" required placeholder="Your username, sir" id="username" [(ngModel)]="user.username"
          name="username">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label for="password">Password</label>
        <input class="u-full-width" type="password" minlength="5" pattern=".{3,}" required placeholder="Ooohhh, very mysterious..."
          id="password" [(ngModel)]="user.password" name="password">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <input class="button-success" type="submit" value="Login">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <button class="button-default" routerLink="/signup">Sign up!</button>
      </div>
    </div>
  </div>
</form>
