<table class="u-full-width">
  <thead>
    <tr>
      <th>Asset</th>
      <th>My Balance</th>
      <th>Exchange - Market</th>
      <th>Price</th>
      <th>My Balance</th>
      <th>24hr Change</th>
      <th class="text-center">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let asset of assets" [ngClass]="{'editing': asset==editingAsset}">
      <td>
        <select *ngIf="asset==editingAsset" [(ngModel)]="asset.coin">
          <option *ngFor="let coin of supportedCoins" [ngValue]="coin" >{{coin}}</option>
        </select>
        <span *ngIf="asset!=editingAsset">{{asset.coin}}</span>
      </td>
      <td>
        <input *ngIf="asset==editingAsset" type="text" [(ngModel)]="asset.mybalance" class="u-full-width" />
        <span *ngIf="asset!=editingAsset">{{asset.mybalance}}</span>
      </td>
      <td>
        <select [compareWith]="compareExchange" *ngIf="asset==editingAsset" [(ngModel)]="asset.exchange">
          <option *ngFor="let exchange of supportedExchanges" [ngValue]="exchange" >
          {{exchange.getDisplayName()}}</option>
        </select>
        <span *ngIf="asset!=editingAsset">{{asset.exchange.getDisplayName()}}</span>
      </td>
      <td>${{ asset.exchange.price | number : '1.2'}}</td>
      <td>${{ asset.mybalance * asset.exchange.price | number : '1.2' }} </td>
      <td>+12%</td>
      <td class="text-center">
        <a *ngIf="asset!=editingAsset" class="button button-icon" (click)="editAsset(asset)"><i class="fa fa-pencil"></i></a>
        <a *ngIf="asset!=editingAsset" class="button button-icon" (click)="removeAsset(asset)"><i class="fa fa-remove"></i></a>
        <a *ngIf="asset==editingAsset" class="button button-icon" (click)="saveAsset(asset)"><i class="fa fa-check"></i></a>
      </td>
    </tr>
  </tbody>
</table>