<table class="u-full-width">
  <thead>
    <tr>
      <th>Asset</th>
      <th>My Balance</th>
      <th>Exchange - Market</th>
      <th>Price</th>
      <th>My Balance</th>
      <th>24hr Change</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let asset of assets" >
      <td>{{asset.name}}</td>
      <td>{{asset.mybalance}}</td>
      <td>{{
            asset.exchange.name + ' - ' +
            asset.market.currencyFrom + '/' +
            asset.market.currencyTo
          }}
      </td>
      <td>$ 1,960.80</td>
      <td>$ 4.8157248</td>
      <td>+12%</td>
    </tr>
  </tbody>
</table>
