<table class="u-full-width">
  <thead>
    <tr>
      <th>Asset</th>
      <th>My Balance</th>
      <th>Exchange - Market</th>
      <th>Price</th>
      <th>My Balance</th>
      <th>24hr Change</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bitcoin</td>
      <td>BTC 0.002456</td>
      <td>Poloniex - USDT/BTC</td>
      <td>$ 1,960.80</td>
      <td>$ 4.8157248</td>
      <td>+12%</td>
    </tr>
    <tr>
      <td>Ethereum</td>
      <td>ETH 0.002456</td>
      <td>Poloniex - USDT/ETH</td>
      <td>$ 1,960.80</td>
      <td>$ 4.8157248</td>
      <td>+4.8%</td>
    </tr>
  </tbody>
</table>
