<form #f="ngForm" (ngSubmit)="onSubmit(f)" >
  <div class="six columns offset-by-five text-center">
    <div class="row">
      <div class="six columns" *ngIf="creating">
        <label for="username">Username</label>
        <input class="u-full-width" autofocus="autofocus" type="text" 
        placeholder="Your username, sir" id="username" [(ngModel)]="user.username" name="username">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label for="email">Email</label>
        <input class="u-full-width" type="text" 
        placeholder="Wow, such communication!" id="email" [(ngModel)]="user.email" name="email">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <label for="password">Password</label>
        <input class="u-full-width" type="password" 
        placeholder="Ooohhh, very mysterious..." id="password" [(ngModel)]="user.password" name="password">
      </div>
    </div>
    <div class="row" *ngIf="creating">
      <div class="six columns">
        <label for="repeat-password">Password again</label>
        <input class="u-full-width" type="password" 
        placeholder="yeah, I know that it's boring, sorry..." id="repeat-password" [(ngModel)]="repeatPassword"
        name="repeatPassword">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <input class="button-success" type="submit" [value]="creating ? 'Create' : 'Login'">
      </div>
    </div>
    <div class="row">
      <div class="six columns">
        <input class="button-default" type="button" [value]="creating ? 'Login' : 'Create new user'" (click)="create()">
      </div>
    </div>
  </div>
</form>