<div class="row" *ngIf="error">
  <div class="twelve columns text-center">
    <span class="text-error">{{ error }}</span>
  </div>
</div>


  <form #f="ngForm" (ngSubmit)="login(f)" ngNativeValidate>
    <div class="row">
      <div class="four columns offset-by-four">
        <label for="username">Username or Email</label>
        <input class="u-full-width" autofocus="autofocus" type="text" required placeholder="Your username, sir" id="username" [(ngModel)]="user.username"
          name="username">
      </div>
    </div>
    <div class="row">
      <div class="four columns offset-by-four">
        <label for="password">Password</label>
        <input class="u-full-width" type="password" minlength="5" pattern=".{3,}" required placeholder="Ooohhh, very mysterious..."
          id="password" [(ngModel)]="user.password" name="password">
      </div>
    </div>
    <div class="row">
      <div class="four columns offset-by-four">
        <input class="button-success" type="submit" value="Login">
      </div>
    </div>
    <div class="row">
      <div class="four columns offset-by-four">
        <button class="button-default" routerLink="/signup">Sign up!</button>
      </div>
    </div>
  </form>
