/* You can add global styles to this file, and also import other style files */
#top {
  margin-top: 2.5rem;
}

.fa{
  background-color: white;
}

.text-center{
  text-align: center;
}
.editing{
  background-color: Moccasin;
}

.button-success{
  color: #fff !important;
  background-color: #5cb85c !important;
  border-color: #4cae4c !important;
}